.aboutUs{
  position: relative;
  width: 92vw;
  margin-left: 8vw;
  height: 520px;
  display: flex;
  overflow: hidden;
  &__description {
    position: absolute;
    display: flex;
    flex-wrap: wrap;
    width: 758px;
    z-index: 1;
    &-title {
      font-weight: 700;
      font-size: 85px;
      line-height: 85px;
      width: 447px;
      letter-spacing: -2%;
      margin: 0;
    }
    &-txt {
      color: $orange;
      font-size: 24px;
      line-height: 30px;
      margin: 25px 0;
    }
    &-button {
      height: 45px;
      width: 157px;
      cursor: pointer;
      color: $white;
      background-color: $blue;
      border: 1px solid $blue;
      border-radius: 20px;
      font-size: 18px;
      font-weight: 700;
      line-height: 18px;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: $white;
        color: $blue;
      }
    }
  }
  &__background {
    margin-top: 13px;
    position: absolute;
    right: 0;
    flex-shrink: 0;
    height: 507px;
    width: 705px;
    background-image: url('../images/mainBackground.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
  }
}

@media screen and (max-width: 1220px) and (min-width: 744px) {
  .aboutUs {
    height: 770px;
    &__description {
      width: 60vw;

    }
    &__background {
      margin-top: 263px;
    }
  }
}

@media screen and (max-width: 744px) and (min-width: 400px) {
  .aboutUs {
    height: 425px;
    &__description {
      width: 80vw;
      &-title {
        font-size: 60px;
        line-height: 60px;
        width: 80vw;
      }
      &-txt {
        font-size: 20px;
        line-height: 24px;
      }
    }
    &__background {
      margin-top: 163px;
      width: 90%;
    }
  }
}

@media screen and (max-width: 400px) {
  .aboutUs {
    height: 350px;
    &__description {
      width: 80vw;
      &-title {
        font-size: 40px;
        line-height: 40px;
        width: 80vw;
      }
      &-txt {
        font-size: 16px;
        line-height: 20px;
      }
      &-button {
      height: 40px;
      width: 130px;
      font-size: 14px;
      }
    }
    &__background {
      flex-shrink: 1;
      margin-top: 83px;
      width: 90%;
    }
  }
}
