.header {
  width: 84vw;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 105px;
  margin-bottom: 142px;
  &__burger {
    display: none;
    position: fixed;
    top: 105px;
    left: 0;
    z-index: 100;
    height: 100vh;
    width: 100vw;
    background-color: $white;

    &-nav {
      display: none;
      flex-direction: column;
      margin: 100px auto;
      &-link {
        text-align: center;
        margin-bottom: 50px;
        font-weight: 400;
        font-size: 18px;
        color: $orange;
        text-decoration: none;
        line-height: 45px;
      }
      &-button {
        width: 185px;
        height: 45px;
        border: 1px solid $blue;
        border-radius: 20px;
        background-color: $white;
        cursor: pointer;
        color: $blue;
        font-size: 18px;
        font-weight: 700;
        transition: background-color 0.3s ease;
        &-txt {
          color: $blue;
          font-size: 18px;
          font-weight: 700;
          text-decoration: none;
          padding: 10px;
          &:hover {
            color: $white;
          }
        }
        &:hover {
          background-color: $blue;
          color: $white;
        }
      }
    }

  }
  &__logo {
    height: 48px;
  }

  &__nav {
    display: flex;
    justify-content: space-between;
    width: 405px;
    &-icon, &-close {
      cursor: pointer;
      height: 30px;
      display: none;
    }
    &-link {
      font-weight: 400;
      font-size: 18px;
      color: $black;
      text-decoration: none;
      line-height: 45px;
    }
    &-button {
      width: 185px;
      height: 45px;
      border: 1px solid $blue;
      border-radius: 20px;
      font-size: 18px;
      font-weight: 700;
      background-color: $white;
      color: $blue;
      cursor: pointer;
      transition: background-color 0.3s ease;
      &:hover {
        background-color: $blue;
        color: $white;
      }
    }
  }
}


@media screen and (max-width: 800px) and (min-width: 500px) {
  .header {
    margin-bottom: 122px;
    &__nav {
      justify-content: flex-end;
    }
    &__nav-icon {
      display: block;
      height: 20px;
    }
    &__nav-close {
      height: 20px;
    }
    &__nav-link, &__nav-button {
      display: none;
    }
}
}

@media screen and (max-width: 500px) {
  .header {
    margin-bottom: 102px;
    &__logo {
      height: 40px;
    }
    &__nav {
      justify-content: flex-end;
    }
    &__nav-icon {
    display: block;
    height: 20px;
    }
    &__nav-close {
      height: 20px;
    }
    &__nav-link, &__nav-button {
      display: none;
    }
}
}
