@import "variables";
@import "./header.scss";
@import "./aboutUs.scss";
@import "./weAre.scss";
@import "./motivation.scss";
@import "./assistant.scss";
@import "./values.scss";
@import "./ourWork.scss";
@import "./meaning.scss";
@import "./hiring.scss";
@import "./contact.scss";
@import "./footer.scss";

body {
  overflow-x: hidden;
  margin: 0;
  color: $black;
  font-weight: 400;
  letter-spacing: -1%;
}
