.meaning {
  width: 1066px;
  height: 135px;
  margin: 180px auto;
  display: flex;
  &__icon {
    height: 66px;
    width: 59px;
    margin-top: 32px;
    &:nth-child(3) {
      transform: scaleX(-1);
    }
  }
  &__txt {
    color: $orange;
    font-weight: 700;
    font-size: 40px;
    line-height: 45px;
    text-align: center;
    margin: 0 33px;
  }
}
