.motivation {
  margin: 140px auto;
  width: 666px;
  display: flex;
  height: 66px;
  justify-content: space-between;
  &__icon {
    height: 66px;
    width: 55px;
    &:nth-child(3) {
      transform: scaleX(-1);
    }
  }
  &__title {
    color: $orange;
    font-weight: 700;
    font-size: 40px;
    line-height: 50px;
    text-align: center;
    margin-top: 16px;
  }
}
@media screen and (min-width: 500px) and (max-width: 744px) {
  .motivation {
    margin: 120px auto;
    width: 84vw;
    height: 55px;
    &__icon {
      height: 55px;
      width: auto;
    }
    &__title {
      font-size: 30px;
      line-height: 40px;
      margin-top: 15px;
    }
  }
}
@media screen and (max-width: 500px) {
  .motivation {
    margin: 100px auto;
    width: 84vw;
    flex-direction: column;
    height: 212px;
    &__icon {
      &:nth-child(3) {
        margin-left: calc(100% - 55px);
        margin-top: -25px;
      }
    }
    &__title {
      font-size: 30px;
      line-height: 40px;
      margin: auto;
    }
  }
}
