.values {
  width: 84vw;
  background-color: $offwhite;
  padding: 154px 8vw 166px;
  margin: 0 auto;
  &__description {
    display: flex;
    height: 108px;
    justify-content: space-between;
    margin-bottom: 77px;
    &-title {
      font-size: 700;
      line-height: 50px;
      font-size: 50px;
      margin: 18px 0 40px;
    }
    &-icon {
      margin-right: 23px;
      transition: transform 0.3s ease-in-out;
      &:hover {
        transform: scale(1.5);
      }
    }
  }
  &__content {
    display: flex;
    flex-wrap: wrap;
    &-block {
      margin-right: 74px;
      margin-bottom: 30px;
      width: 641px;
      &:last-child {
        width: 351px;
      }
      &-title {
        color: $orange;
        font-weight: 700;
        line-height: 30px;
        font-size: 30px;
      }
      &-line {
        margin: 19px 0 26px;
        width: 50px;
        height: 1px;
        background-color: $black;
      }
      &-txt {
        font-weight: 400;
        line-height: 38px;
        font-size: 30px;
      }
    }
  }
}

@media screen and (max-width: 1395px) and (min-width: 670px) {
  .values {
    padding: 154px 8vw 166px;
    &__description {
      &-title {
        margin: 18px 0 20px;
      }
    }
    &__content {
      &-block {
        &:last-child {
          width: 441px;
        }
      }
    }
  }
}


@media screen and (min-width: 320px) and(max-width: 670px) {
  .values {
    padding: 134px 8vw 146px;
    &__description {
      height: 50px;
      margin-bottom: 30px;
      &-title {
        line-height: 40px;
        font-size: 40px;
        margin: 18px 0;
      }
      &-icon {
        height: 60px;
        margin-top: 20px;
      }
    }
    &__content {
      margin-top: 50px;
      &-block {
        margin-right: 34px;
        margin-bottom: 0;
        width: 84vw;
        &:last-child {
          width: 84vw;
        }
        &-title {
          line-height: 25px;
          font-size: 25px;
        }
        &-line {
          margin: 19px 0 26px;
          width: 40px;
        }
        &-txt {
          line-height: 30px;
          font-size: 25px;
        }
      }
    }
  }

}


@media screen and (max-width: 320px) {
  .values {
    padding: 114px 8vw 126px;
    &__description {
      height: 50px;
      margin-bottom: 30px;
      &-title {
        line-height: 40px;
        font-size: 40px;
        margin: 18px 0;
      }
      &-icon {
        height: 40px;
        margin-top: 20px;
      }
    }
    &__content {
      margin-top: 50px;
      &-block {
        margin-right: 34px;
        margin-bottom: 0;
        width: 84vw;
        &:last-child {
          width: 84vw;
        }
        &-title {
          line-height: 25px;
          font-size: 25px;
        }
        &-line {
          width: 40px;
        }
        &-txt {
          line-height: 30px;
          font-size: 25px;
        }
      }
    }
  }
}
